<footer>
    <div class="container">
        <p>Project made by <a href="https://github.com/RosvaldasB?tab=repositories">RosvaldasB</a>, <%- new Date().getFullYear() %></p>
    </div>
</footer>
</body>
</html>