<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <style>
        main{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            <% if(locals.wallpaperBg) { %>
                background-image: url( <%= wallpaperBg %> );
            <% } else { %>
                background-image: none;
            <% }; %>
        } 
    </style>
    <title>Weather Buddy <%= locals.cityTitle %> </title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">Weather Buddy <span class="logo-slogan">- Your trusted weather companion!</span></a>
        </div>
        <div class="search-field">
            <form action="/weather-report" method="post" class="form">
                <div class="search-div">
                    <label class="city-label" for="city">Enter city</label>
                    <input type="text" name="city" class="search-field">
                </div>
                <select name="units" class="unit-select">
                    <option name="imperial" value="imperial">Imperial</option>
                    <option name="metric" value="metric" selected>Metric</option>
                </select>
                <select name="lang" class="lang-select">
                    <option name="lt" value="lt">Lietuvių</option>
                    <option name="en" value="en" selected>English</option>
                    <option name="de" value="de">German</option>
                    <option name="la" value="la">Latvių</option>
                    <option name="ru" value="ru">Russian</option>
                </select>
                <input type="submit" value="Get Weather">
            </form>
        </div>
    </header>