:root{
    --roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    flex-direction: column;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr 50px;
    font-size: 16px;
}

header{
    background: orange;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    grid-area: "header";

}

main{
    grid-area: "main";
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: orange;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    grid-area: "footer";
}

/* header and nav */

header .logo{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 2.2rem;
    transition: all 300ms ease-in-out;
}

header .logo:hover{
    text-decoration: underline;
    color: black;
}

header .logo-slogan {
    font-size: 1.2rem;
}

.search-field input[type="text"] {
    width: 125px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px 5px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
}

.search-field select[name="units"]{
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 5px 2px;
}

.search-field select[name="units"]:active{
    border: 1px solid black;
    background: black;
    color: white;
}

.search-field select[name="lang"]{
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 5px 2px;
}

.search-field select[name="lang"]:active{
    border: 1px solid black;
    background: black;
    color: white;
}

.search-field input[type="submit"]{
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 5px 2px;
}

.search-field input[type="submit"]:active{
    border: 1px solid black;
    background: black;
    color: white;
}

/* main components */

main .container {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}

/* current forecast styling */

.weather-report-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.info-header{
    margin: 30px 0 0 60px;
    place-self: start start;
    margin-bottom: 30px;
}

/* seperator */

.seperator{
    width: 100%;
    height: 2px;
    border: none;
    background: black; 
    margin-bottom: 40px;
}

.info-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 30px 0 15px 0;
}

.main-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.125rem;
}

.weather-condition{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.conditions-wind{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.wind{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    font-size: 1.125rem;
}

.base-info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 25px;
    text-align: center;
}

.data-number{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.data-number-none{
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 5px;
}

.air-quality{
    text-align: center;
}
.quality-value{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

/* future weather styling */

.future-forecast-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hour-forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7px;
}

.hour-forecast-container:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.introduction{
    display: flex;
    height: 50%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-self: center center;
}

.introduction h1{
    margin-bottom: 30px;
    font-size: 50px;
}

footer .container p {
    color: white;
    font-weight: 600;
}

footer .container p a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

footer .container p a:hover {
    color: black;
    text-decoration: underline;
}